body{
  overflow:scroll;
  background-color:#fcf5ef;
}

.container{
  display:grid;
  grid-template-columns: 100px 200px 50px 200px 50px 200px 450px 2fr 1fr;
  grid-template-rows: 70px 100px;
}

.button{
  text-decoration: none;
  color:#a408ff;
  font-family: poppins;
  font-weight: bold;
  border: solid;
  border-radius: 150px;
  cursor: pointer;
  padding: 8px;
}

.home{
  justify-self: center;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
}

.commissions{
  justify-self: center;
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: center;
}

.contact{
  justify-self: center;
  grid-row: 2/3;
  grid-column: 6/7;
  align-self: center;
}

.s1{
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}

.s2{
  grid-row: 2/3;
  grid-column: 5/6;
  justify-self: center;
  align-self: center;
}

.mw{
  grid-row: 2/3;
  grid-column: 8/9;
  justify-self: end;
  margin-top: -10%;
}

.container2{
  display: grid;
  grid-template-rows: 70px 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
}

.purple-line {
  width: 100%;
  border-top: 3px solid #a408ff;
  grid-column: 2/6;
  grid-row: 2/3;
}

.container3{
  margin-top: -4%;
  display: grid;
  grid-template-columns: 200px 2fr 4fr 2fr 1fr;
}

.title{
  grid-row: 1/2;
  grid-column: 2/3;
  font-family: garamond;
  font-size: 50px;
  color:#a408ff;
  font-weight:bolder;
}

.tagline{
  grid-row: 1/2;
  grid-column: 4/5;
  font-family: garamond;
  font-style: italic;
  color:#a408ff;
  font-size: 25px;
  font-weight: 600;
}

.container4{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 250px 150px;
  margin-top: 20px;
}

.hoku{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.nemu{
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
}

.rich{
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center;
}

.description{
  text-align: center;
  font-family: poppins;
  max-width: 300px;
  justify-self: center;
  margin-top: 30px;
}

.hok{
  grid-column: 2/3;
  grid-row: 2/3;

} 

.nem{
  grid-column: 3/4;
  grid-row: 2/3;
}

.ric{
  grid-column: 4/5;
  grid-row: 2/3;
}

.container5{
  display: grid;
  grid-template-rows: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
  margin-top: -15px;
}

.container6{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 2fr 4fr 2fr 1fr;
}

.container7{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 250px 150px;
  margin-top: 20px;
}

.over{
  grid-column: 2/3;
  justify-self: center;
}

.ovrdose{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: -10px;
}

.bbek{
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;

}

.bek{
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: -10px;
}

.selfish{
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center;
}

.self{
  grid-column: 4/5;
  grid-row: 2/3;
  margin-top: -10px;
}

.container8{
  display: grid;
  grid-template-rows: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
  margin-top: -50px;
}

.container9{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 2fr 4fr 2fr 1fr;
}

.tagline{
  justify-self: end;
}

.container10{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 250px 150px;
  margin-top: 20px;
}

.grim1{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
}

.grim2{
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
}

.tiff{
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center; 
}

.container11{
  display: grid;
  grid-template-rows: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
  margin-top: -20px;
}

.container12{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 200px 2fr 4fr 2fr 1fr;
}

.container13{
  display: grid;
  grid-template-columns: 200px 2fr 2fr 200px;
  grid-template-rows: 300px 80px 300px 80px;
  margin-top: 20px;
}

.cev{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.Yuki{
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
}

.kaze{
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}

.blue{
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
}

.dcev{
  grid-column: 2/3;
  grid-row: 2/3;
}

.dkaze{
  grid-column: 2/3;
  grid-row: 4/5;
}

.dyuki{
  grid-column: 3/4;
  grid-row: 2/3;
}

.dblue{
  grid-column: 3/4;
  grid-row: 4/5;
}

.container14{
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 100px 500px 100px 1fr;
  grid-template-rows: 100px
}

.commission{
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: center;
  align-self: center;
}

.comm{
  padding: 10px;
}

.s5{
  align-self: center;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
}

.s6{
  align-self: center;
  justify-self: center;
  grid-row: 1/2;
  grid-column: 4/5;
}

footer{
  background-color:#a408ff;
  overflow:auto;
}

.container15{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.buttons{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;

}

.button1{
  margin: 10px;
  text-decoration: none;
  color:#a408ff;
  background-color: fcf5ef;
  font-family: poppins;
  font-weight: bold;
  border: none;
  border-radius: 150px;
  padding: 15px;
  padding-left: 250px;
  padding-right:250px;
  cursor: pointer;
  text-align: center;
}

.title1{
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: poppins;
  font-size: 40px;
  font-style: italic;
  color: white;
}

.title2{
  grid-column: 2/3;
  grid-row: 1/2;
  font-family: garamond;
  font-size: 60px;
  color: white;
  font-style: italic;
  margin-top: 80px;
}

.logomark{
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
}

.icon-container{
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 17%;
}

.icon{
  color:#fcf5ef;
  margin: 10px;
  font-size: 30px;
}

.sub{
  margin-top: 250px;
  font-size: 20px;
}


@media only screen and (max-width: 600px) {

  body{
    overflow:scroll;
    background-color:#fcf5ef;
  }
  
  .container{
    display:grid;
    grid-template-columns: 100px 100px 50px 150px 50px 100px 325px 1fr 1fr;
    grid-template-rows: 250px 50px;
  }
  
  .button{
    text-decoration: none;
    color:#a408ff;
    font-family: poppins;
    font-weight: bold;
    border: solid;
    border-radius: 150px;
    cursor: pointer;
    padding: 8px;
  }
  
  .home{
    justify-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
  }
  
  .commissions{
    justify-self: center;
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
  }
  
  .contact{
    justify-self: center;
    grid-row: 2/3;
    grid-column: 6/7;
    align-self: center;
  }
  
  .s1{
    grid-row: 2/3;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
  }
  
  .s2{
    grid-row: 2/3;
    grid-column: 5/6;
    justify-self: center;
    align-self: center;
  }
  
  .mw{
    grid-row: 1/3;
    grid-column: 4/5;
    justify-self: center;
    margin-top: 10px;

  }
  
  .container2{
    display: grid;
    grid-template-rows: 50px 75px;
    grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
  }
  
  .purple-line {
    width: 200%;
    border-top: 3px solid #a408ff;
    grid-column: 1/6;
    grid-row: 2/3;
  }
  
  .container3{
    margin-top: -4%;
    display: grid;
    grid-template-columns: 100px 2fr 4fr 2fr 1fr;
  }
  
  .title{
    grid-row: 1/2;
    grid-column: 2/3;
    font-family: garamond;
    font-size: 50px;
    color:#a408ff;
    font-weight:bolder;
  }
  
  .tagline{
    grid-row: 1/2;
    grid-column: 4/6;
    font-family: garamond;
    font-style: italic;
    color:#a408ff;
    font-size: 15px;
    font-weight: 600;
    text-align: end;
  }
  
  .container4{
    display: grid;
    grid-template-columns: 450px 300px;
    grid-template-rows: 100px 200px 200px;
    margin-top: 20px;
  }
  
  .hoku{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
  }
  
  .nemu{
    grid-column: 1/2;
    grid-row: 4/5;
    justify-self: end;
    margin-top: -25%
  }
  
  .rich{
    grid-column: 1/2;
    grid-row: 7/8;
    justify-self: end;
    margin-top: 15px
  }
  
  .description{
    text-align: end;
    font-family: poppins;
    max-width: 300px;
    justify-self: end;
    margin-top: -5%;
  }
  
  .hok{
    grid-column: 1/2;
    grid-row: 3/4;
  
  } 
  
  .nem{
    grid-column: 1/2;
    grid-row: 5/6;
    margin-top: 15px;
  }
  
  .ric{
    grid-column: 1/2;
    grid-row: 8/9;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .container5{
    display: grid;
    grid-template-rows: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
    margin-top: -15px;
  }
  
  .container6{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 2fr 4fr 2fr 1fr;
  }
  
  .container7{
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 250px 150px;
    margin-top: 20px;
  }
  
  .over{
    grid-column: 1/2;
    justify-self: end;
  }
  
  .ovrdose{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: -10px;
  }
  
  .bbek{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: end;
    margin-bottom: 100px;
  
  }
  
  .bek{
    grid-column: 1/2;
    grid-row: 4/5;
    margin-top: -85px;
    margin-bottom: 100px;
  }
  
  .selfish{
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: end;
    margin-top: -5%;
  }
  
  .self{
    grid-column: 1/2;
    grid-row: 6/7;
    margin-top: 15px;
    margin-bottom: 75px;
  }
  
  .container8{
    display: grid;
    grid-template-rows: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 7fr 1fr;
    margin-top: -50px;
  }
  
  .container9{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 2fr 4fr 2fr 1fr;
  }
  
  .tagline{
    justify-self: end;
  }
  
  .container10{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 250px 150px;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .grim1{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
  }
  
  .grim2{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: center;
  }
  
  .tiff{
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: center; 
  }
  
  .container11{
    display: grid;
    grid-template-rows: 10px;
    grid-template-columns: 2fr 1fr 1fr 1fr 7fr 1fr;
    margin-top: -20px;
  }
  
  .container12{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 2fr 4fr 2fr 1fr;
  }
  
  .container13{
    display: grid;
    grid-template-columns: 50px 2fr 2fr 50px;
    grid-template-rows: 300px 80px 300px 80px;
    margin-top: 20px;
  }
  
  .cev{
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  
  .Yuki{
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
  }
  
  .kaze{
    grid-column: 2/3;
    grid-row: 6/7;
    justify-self: center;
    align-self: center;
  }
  
  .blue{
    grid-column: 2/3;
    grid-row: 10/11;
    justify-self: center;
    align-self: center;
  }
  
  .dcev{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 3%;
    display:none;
  }
  
  .dkaze{
    grid-column: 2/3;
    grid-row: 8/9;
    display:none;
  }
  
  .dyuki{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 3%;
    display:none;
  }
  
  .dblue{
    grid-column: 3/4;
    grid-row: 4/5;
    display:none;
  }
  
  .container14{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 25px 50px 200px 25px ;
    grid-template-rows: 100px;
    justify-content: center;
  }

  .logomark{
    width:200px;
  }
  
  .commission{
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
  }
  
  .comm{
    padding: 10px;
  }
  
  .s5{
    align-self: center;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 2/3;
  }
  
  .s6{
    align-self: center;
    justify-self: center;
    grid-row: 1/2;
    grid-column: 4/5;
  }
  
  footer{
    background-color:#a408ff;
    overflow:auto;
  }
  
  .container15{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  
  .buttons{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    width: 5px;
    display:none;
  
  }
  
  .button1{
    margin: 10px;
    text-decoration: none;
    color:#a408ff;
    background-color: fcf5ef;
    font-family: poppins;
    font-weight: bold;
    border: none;
    border-radius: 150px;
    padding: 15px;
    padding-left: 250px;
    padding-right:250px;
    cursor: pointer;
    text-align: center;
  }
  
  .title1{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: poppins;
    font-size: 20px;
    font-style: italic;
    color: white;
  }
  
  .title2{
    grid-column: 2/3;
    grid-row: 1/2;
    font-family: garamond;
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-top: 20%;
  }
  
  .logomark{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
  }
  
  .icon-container{
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: -50%;
  }
  
  .icon{
    color:#fcf5ef;
    margin: 10px;
    font-size: 30px;
  }
  
  .sub{
    margin-top: 150px;
    font-size: 20px;
  }

}
  